rawfastqpath="/mnt/d/genome/parents/P2/2020_19/"
genome_reference_name="Brara_Chiifu_V3.5.fa.gz"
genome_reference_path="gen_refs"
genome_url="http://39.100.233.196:82/download_genome/Brassica_Genome_data/Brara_Chiifu_V3.5/Brara_Chiifu_V3.5.fa.gz"
## outputs

# quality parameters
fastpqualitypath="quality_results"
fastpqualityreportpath="quality_report"
fastqextention=".fq.gz"
#fastqextention=".fastq.gz"
ncharactersforparing=2

# mapping parameters
mappingpath="mappingtmp"
mappingreportpath="mapping_reports"

# gvcf parameters
gatkpath="gatk-4.4.0.0/gatk-4.4.0.0/gatk"
picardpath="picard-3.0.0/picard.jar"
vcf_path="vcf_results"
bamextension=".bam"

# vcf consolidation
vcfmergedpath="vcf_allsamples"
#sample name column: this is to correct the column names
samplenameref="Sample1"
#total chromosomes
chrn=10
chrsuffix="A"

# vcf filtering
vcfsummaryresults="vcf_def"
maf=0.05
mxmissing=10
minmeanDP=10,20,30,40
